.container{
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  justify-content: center;
  height:45vh;
  margin-top: 15%;
  margin-left: 15%;
  margin-right: 15%;
  background-color: #f4f4f4;

}